body {
  font-family: 'Oxygen', sans-serif !important;
  line-height: 40px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
}
@media only screen and (max-width: 600px) {
  .iconLogout {
    font-size:20px !important;
  }
}
.fs-x {
  font-size: 20px;
  font-weight: 400;
}

.fs-x6 {
  font-size: 14px;
}

.bf {
  font-weight: 700;
  text-decoration: none !important;
}

.nav-link {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.nav-link:hover {
  color: #c62e2c !important;
}

#highlite {
  color: #c62e2c;
}

.active-blood {
  color: #c62e2c !important;
}

.bg-blood {
  background-color: #c62c2e !important;
}

.card {
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  margin-bottom: 1rem;
}

  .card-primary.card-outline {
    border-top: 3px solid #c62e2c;
}

th {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.bg-darkness {
  background-color: rgb(59, 62, 63) !important;
  color: #fff !important;
}

.bg-soft {
  background-color: rgba(228, 228, 228, 0.1);
}

.space-m-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.space-m-2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.space-m-3 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.br-left {
  border-left: 1px solid;
  border-color: #c62c2e;
}

.user-panel {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



.br {
  border: 1px solid;
  border-color: #c62c2e31;
}

.br-rd {
  border-radius: 5px 5px 0 0 !important;
}

.br-bottom {
  border-bottom: 1px solid;
  border-color: #c62c2e57;
}

.br-top{
  border-top: 1px solid #c62e2c;
}

.space-p-1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.space-p-2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.space-p-3 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.space-pl-1 {
  padding: 20px;
}

.space-pl-2 {
  padding-left: 50px;
  padding-right: 50px;
}

.but-1 {
  background-color: #c62e2c;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  display: flexbox;
  position: relative;
}

.btnn {
  border-style: solid;
  border-width: 0.125em;
  margin: 0 0 0.875em 0;
  transition-timing-function: ease-in;
  border-radius: 0.5em;
  border-color: #111;
  box-shadow: 0 0.375em 0 #222;
  user-select: none;
  background: #fff;
  cursor: pointer;
  padding: calc((4em - (1em * 1.5) - (0.125em * 2) - 0.375em) / 2) calc(1em * 1.5);
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #183153;
  font-weight: 600;
  display: inline-block;
}

.btnn2 {
  border-style: solid;
  border-width: 0.125em;
  margin: 0 0 0.875em 0;
  transition-timing-function: ease-in;
  border-radius: 0.5em;
  border-color: #111;
  box-shadow: 0 0.2em 0 #222;
  user-select: none;
  background: #fff;
  cursor: pointer;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #183153;
  font-weight: 600;
  display: inline-block;
}

.btnn-badge {
  border-style: solid;
  border-width: 0.125em;
  margin: 0 0 0.475em 0;
  transition-timing-function: ease-in;
  border-radius: 0.5em;
  border-color: #111;
  box-shadow: 0 0.1em 0 #222;
  user-select: none;
  background: #fff;
  cursor: pointer;
  padding: 1px 10px 1px 10px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #183153;
  font-weight: 600;
  display: inline-block;
}

.btnn:hover {
  opacity: 0.8;
}

.btnn:active {
  box-shadow: 0 2px rgb(0, 0, 0);
  transform: translateY(4px);
  opacity: 1;
}

.btnn2:hover {
  opacity: 0.8;
  color: #fff !important;
}

.btnn2:active {
  box-shadow: 0 2px rgb(0, 0, 0);
  transform: translateY(4px);
  opacity: 1;
}

.yel {
  background-color:#ffc107 !important;
  color: #000 ;
}

.blood {
  background-color: #c62c2e !important;
  color: #fff !important;
}

.grey {
  background-color: #cdcdcd !important;
  color: #183153 !important;
}

.darkness {
  background-color: rgb(59, 62, 63) !important;
  color: #fff !important;
}


.b-shd-divider {
  height: 3rem;
  background-color: rgba(228, 228, 228, 0.1);
  border: solid rgba(228, 228, 228, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.ac-blood {
  background-color: #c62c2e !important;
  color: #fff !important;
}

.accordion-button:active .accordion-header:active .accordion-header:focus {
  border: 10px solid #c62c2e56 !important;
  border-color: #c62c2e56 !important;
}

.sb-divider {
  border-top: 1px solid #c62e2c;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}




*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 0.3s linear 0s;
}
.area {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .area {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .area {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .area {
    width: 1140px;
  }
}
.navbar-component {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
.navbar-component > .navbar {
  justify-content: space-between;
  
}
.navbar > .brand {
  display: block;
  font-size: 16px !important;
  font-family: 'Oxygen', sans-serif !important;
  color: rgb(49, 48, 48);
  margin: 22px;
}
.navbar > .toggle {
  outline: none;
  border: 0;
  display: inline-block;
  background-color: transparent;
  background-image: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 22px;
}
@media (min-width: 768px) {
  .navbar > .toggle {
    display: none;
  }
}
.navbar > .toggle > .icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar > .toggle > .icon,
.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
  display: block;
  width: 24px;
  height: 3px;
  transition: background-color 0.3s linear, transform 0.3s linear;
  background-color: #555555;
}
.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
  position: absolute;
  content: "";
}
.navbar > .toggle > .icon:before {
  top: -8px;
}
.navbar > .toggle > .icon:after {
  top: 8px;
}
.navbar > .toggle.-active > .icon {
  background-color: transparent;
}
.navbar > .toggle.-active > .icon:before {
  transform: translateY(8px) rotate(45deg);
}
.navbar > .toggle.-active > .icon:after {
  transform: translateY(-8px) rotate(-45deg);
}
.navbar > .list {
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .navbar > .list {
    display: flex;
  }
}
@media (max-width: 768px) {
  .navbar > .list {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    border-top: 1px solid #ddd;
    background-color: #fff;
  }
}
.navbar > .list.-on {
  display: flex;
}
.navbar > .list > .item {
  display: block;
  flex-shrink: 0;
  height: 64px;
  line-height: 64px;
  padding-left: 32px;
  padding-right: 32px;
  color: #555;
  font-size: 14px;
}
.navbar > .list > .item.-link {
  line-height: 68px;
  color: #555;
  border-bottom: 4px solid transparent;
  font-size: 16px !important;
  font-family: 'Oxygen', sans-serif !important;
  color: rgba(0,0,0,.55);
}
.navbar > .list > .item.-link.-active,
.navbar > .list > .item.-link:hover,
.navbar > .list > .item.-link:focus {
  color: #333;
  border-bottom-color: #c62e2c;
}
